# AI API keys
export OPENAI_API_KEY=
export ANTHROPIC_API_KEY=
export GEMINI_API_KEY=

# I keep all my projects in a single directory
projects_dir=

# My personal variables
subtext_openclaw_gateway_token=
subtext_openclaw_server_ip=